/* GENERAL */
body {
	 height: 100vh;
	 margin: 0;
	 background: url("../img/fond.jpg") repeat;
}

/* SPECIFIC */
header {
	background: url("../img/fondscrore.jpg") repeat-x;
	color: #fff;

	.score-block p {
    font-family: 'Mansalva', cursive;
		font-size: 3rem;
		margin-top: 0.4rem;
		margin-bottom: 0;
	}

	.pattes-gauche {
		margin-top: 1rem;
	}

	.pattes-droite {
		margin-top: 2rem;
	}

	label {
		font-size: 2rem;
	}
}

#timer {
	line-height: 62px;
	background: #D874B4;
	width: 62px;
	height: 62px;
	margin: auto;
	margin-top: -15px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	z-index: 9998;
}

#timer.hidden {
	opacity: 0;
}

#cookie {
	text-align: center;
	/*position: absolute;
	top: 55%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	cursor: pointer;
	z-index: 1;

	 img {
		transition: all 0.15s ease;
		border-radius: 8px;
		border: 2px solid #F0F0F0;
	 }

	 img:active {
		 transform: scale(0.95);
	 }
}

#bonus {
	position: absolute;
	top: 25%;
	left: 25%;
	z-index: 9999;
	transform-origin: center;
	animation-name: etoile;
  animation-duration: 3s;
	animation-iteration-count: infinite;
	cursor: pointer;
}

#bonus.hidden {
	opacity: 0;
}

#multiplier, #auto-click {
	cursor: pointer;
}

#multiplier span, #auto-click span {
	position: absolute;
	bottom: 0;
	display: block;
}

@keyframes etoile {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(15deg);}
  100% {transform: rotate(0deg);}
}
